In [5]:
import pandas as pd
data = pd.read_csv('kepadatan.csv')
data

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,NaN,NaN,NaN,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,NaN,NaN,NaN,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,NaN,NaN,NaN,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,NaN,NaN,NaN,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,NaN,NaN,NaN,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,NaN,NaN,NaN,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,NaN,NaN,NaN,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,NaN,NaN,NaN,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,NaN,NaN,NaN,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,NaN,NaN,NaN,...,416,390,279,214,110,153,101,53,45,44

In [6]:
data.head()

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,NaN,NaN,NaN,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,NaN,NaN,NaN,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,NaN,NaN,NaN,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,NaN,NaN,NaN,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,NaN,NaN,NaN,...,37,32,22,13,18,15,10,18,11,17

In [7]:
data.tail()

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,NaN,NaN,NaN,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,NaN,NaN,NaN,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,NaN,NaN,NaN,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,NaN,NaN,NaN,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,NaN,NaN,NaN,...,416,390,279,214,110,153,101,53,45,44

In [9]:
data.to_csv("data_baru.csv",index=False)
pd.read_csv("data_baru.csv")

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,NaN,NaN,NaN,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,NaN,NaN,NaN,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,NaN,NaN,NaN,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,NaN,NaN,NaN,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,NaN,NaN,NaN,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,NaN,NaN,NaN,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,NaN,NaN,NaN,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,NaN,NaN,NaN,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,NaN,NaN,NaN,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,NaN,NaN,NaN,...,416,390,279,214,110,153,101,53,45,44

In [12]:
data.to_excel('data_excel.xlsx', index=False, sheet_name="sheet_1")
pd.read_excel('data_excel.xlsx')

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,NaN,NaN,NaN,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,NaN,NaN,NaN,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,NaN,NaN,NaN,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,NaN,NaN,NaN,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,NaN,NaN,NaN,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,NaN,NaN,NaN,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,NaN,NaN,NaN,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,NaN,NaN,NaN,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,NaN,NaN,NaN,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,NaN,NaN,NaN,...,416,390,279,214,110,153,101,53,45,44