# KEPADATAN PENDUDUK JAKARTA

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('data_excel.xlsx')

In [3]:
data

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,231,235,233,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,84,88,99,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,199,185,178,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [5]:
luas = data['LUAS WILAYAH (KM2)']
luas

0      0.91
1      3.76
2      3.59
3      0.59
4      1.57
       ...
262    1.90
263    3.25
264    3.17
265    3.72
266    3.63
Name: LUAS WILAYAH (KM2), Length: 267, dtype: float64

In [7]:
luas.describe()

count    267.000000
mean       2.487378
std        2.109983
min        0.270000
25%        0.965000
50%        1.800000
75%        3.315000
max       13.070000
Name: LUAS WILAYAH (KM2), dtype: float64

In [8]:
luas.count()

267

In [9]:
luas.mean()

2.487378277153557

In [10]:
luas.median()

1.8

In [11]:
luas.sum()

664.1300000000001

In [12]:
sum(luas)

664.1299999999998

In [13]:
luas.sum(skipna=True)

664.1300000000001

In [15]:
luas.sum(skipna=False)

664.1300000000001

In [16]:
luas.std()

2.1099825078507455

In [18]:
data2 = data.dropna()
data2

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,231,235,233,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,84,88,99,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,199,185,178,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [23]:
dataku = pd.read_csv('kepadatan.csv')
dataku

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,NaN,NaN,NaN,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,NaN,NaN,NaN,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,NaN,NaN,NaN,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,NaN,NaN,NaN,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,NaN,NaN,NaN,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,NaN,NaN,NaN,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,NaN,NaN,NaN,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,NaN,NaN,NaN,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,NaN,NaN,NaN,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,NaN,NaN,NaN,...,416,390,279,214,110,153,101,53,45,44

In [25]:
dataku2 = dataku.dropna(axis=1)
dataku2

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,231,235,233,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,84,88,99,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,199,185,178,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [29]:
dataku3 = dataku.dropna(thresh=9)
dataku3

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,NaN,NaN,NaN,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,NaN,NaN,NaN,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,NaN,NaN,NaN,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,NaN,NaN,NaN,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,NaN,NaN,NaN,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,NaN,NaN,NaN,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,NaN,NaN,NaN,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,NaN,NaN,NaN,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,NaN,NaN,NaN,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,NaN,NaN,NaN,...,416,390,279,214,110,153,101,53,45,44

In [30]:
dataku4 = dataku3

In [34]:
data_mean = dataku4['LUAS WILAYAH (KM2)'].mean()
dataku4['Unnamed: 7']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
262   NaN
263   NaN
264   NaN
265   NaN
266   NaN
Name: Unnamed: 7, Length: 267, dtype: float64

In [35]:
dataku4['Unnamed: 7'].fillna(value=data_mean)

0      2.487378
1      2.487378
2      2.487378
3      2.487378
4      2.487378
         ...
262    2.487378
263    2.487378
264    2.487378
265    2.487378
266    2.487378
Name: Unnamed: 7, Length: 267, dtype: float64

In [37]:
type(dataku4['LUAS WILAYAH (KM2)'])

pandas.core.series.Series

In [36]:
dataku4['LUAS WILAYAH (KM2)'].values

array([ 0.91,  3.76,  3.59,  0.59,  1.57,  1.39,  2.58,  1.26,  1.12,
        1.14,  0.78,  0.72,  1.89,  0.51,  0.55,  1.98,  1.29,  0.55,
        1.13,  0.91,  0.82,  0.53,  0.99,  1.15,  1.05,  0.81,  0.91,
        0.71,  0.71,  0.45,  0.64,  2.22,  1.22,  1.25,  2.44,  0.98,
        0.82,  1.46,  0.83,  2.59,  1.58,  1.53,  0.9 ,  1.26,  0.71,
        0.73,  1.19,  0.3 ,  0.27,  0.62,  3.95, 10.53, 10.56,  3.23,
        7.71,  5.59,  4.68,  2.8 ,  2.36,  1.73,  6.65,  1.09,  3.27,
        2.37,  1.58,  1.33,  1.86,  1.33,  8.31,  5.61,  7.92,  2.47,
        3.17, 10.64,  4.44,  2.61,  3.53,  5.77,  5.31,  6.28,  4.53,
        4.26,  5.03,  4.67,  2.61,  7.18,  4.18,  1.22,  1.11,  1.88,
        1.44,  1.76,  1.44,  2.61,  0.68,  0.55,  0.59,  0.37,  0.51,
        0.32,  0.38,  0.96,  0.28,  0.32,  0.4 ,  0.62,  0.32,  0.55,
        0.8 ,  0.46,  0.78,  0.53,  0.42,  2.69,  1.6 ,  1.57,  1.5 ,
        3.86,  3.14,  2.28,  5.72,  5.98,  4.  ,  4.49,  8.89,  2.11,
        0.97,  0.63,  0.87,  2.33,  0.61,  3.65,  4.76,  2.85,  4.92,
        4.86,  3.6 ,  1.39,  1.72,  2.58,  1.3 ,  1.08,  0.51,  0.95,
        0.94,  0.9 ,  1.79,  0.94,  0.9 ,  0.78,  0.65,  2.15,  0.78,
        3.3 ,  1.62,  1.06,  0.98,  2.79,  2.5 ,  3.53,  5.05,  2.88,
        2.9 ,  2.26,  1.78,  6.84,  1.94,  3.33,  2.85,  2.57,  6.05,
        4.41,  3.61,  1.76,  2.37,  1.26,  1.32,  1.23,  1.4 ,  0.69,
        1.53,  1.27,  0.86,  1.52,  1.83,  1.24,  2.2 ,  0.67,  2.45,
        0.95,  0.72,  4.85,  6.75,  3.61,  2.28,  3.65,  4.24,  2.1 ,
        4.56,  2.99,  2.11,  1.71,  0.68,  1.05,  0.57,  0.65,  0.78,
        1.12,  1.29,  1.8 ,  1.54,  1.23,  2.6 ,  4.37,  2.15,  0.48,
        1.26,  0.67,  0.88,  1.67,  2.9 ,  1.63,  1.15,  1.52,  2.03,
        1.98,  2.55,  1.67,  1.8 ,  1.79,  2.65,  1.89,  2.37,  2.89,
        3.14,  6.6 ,  4.1 ,  4.48,  9.81,  6.86,  4.43,  6.19,  4.58,
        5.  ,  3.08,  5.72,  1.38,  0.99,  2.06,  1.85,  1.89,  2.3 ,
       13.07,  2.53,  3.93,  4.5 ,  3.37,  2.19,  2.09,  3.08,  6.03,
        3.66,  1.9 ,  3.25,  3.17,  3.72,  3.63])

In [38]:
type(dataku4['LUAS WILAYAH (KM2)'].values)

numpy.ndarray