In [1]:
import pandas as pd

In [3]:
data = pd.read_excel('data_excel.xlsx')
data

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,231,235,233,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,84,88,99,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,199,185,178,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [10]:
data_baru = data['NAMA KELURAHAN']
type(data_baru)

pandas.core.series.Series

In [11]:
data_baru

0         P. PANGGANG
1           P. KELAPA
2          P. HARAPAN
3      P. UNTUNG JAWA
4           P. TIDUNG
            ...
262            MUNJUL
263              SETU
264        BAMBU APUS
265      LUBANG BUAYA
266             CEGER
Name: NAMA KELURAHAN, Length: 267, dtype: object

In [12]:
data['LUAS WILAYAH (KM2)']

0      0.91
1      3.76
2      3.59
3      0.59
4      1.57
       ...
262    1.90
263    3.25
264    3.17
265    3.72
266    3.63
Name: LUAS WILAYAH (KM2), Length: 267, dtype: float64

In [13]:
data[['LUAS WILAYAH (KM2)']]

     LUAS WILAYAH (KM2)
0                  0.91
1                  3.76
2                  3.59
3                  0.59
4                  1.57
..                  ...
262                1.90
263                3.25
264                3.17
265                3.72
266                3.63

[267 rows x 1 columns]

In [15]:
data[['NAMA KELURAHAN', 'LUAS WILAYAH (KM2)']]

     NAMA KELURAHAN  LUAS WILAYAH (KM2)
0       P. PANGGANG                0.91
1         P. KELAPA                3.76
2        P. HARAPAN                3.59
3    P. UNTUNG JAWA                0.59
4         P. TIDUNG                1.57
..              ...                 ...
262          MUNJUL                1.90
263            SETU                3.25
264      BAMBU APUS                3.17
265    LUBANG BUAYA                3.72
266           CEGER                3.63

[267 rows x 2 columns]

# dot notation

In [20]:
data.TAHUN

0      2013
1      2013
2      2013
3      2013
4      2013
       ...
262    2013
263    2013
264    2013
265    2013
266    2013
Name: TAHUN, Length: 267, dtype: int64

In [21]:
data.TAHUN.equals(data['TAHUN'])

True

# .iloc

In [23]:
data.iloc[0:11]

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,231,235,233,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,84,88,99,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,199,185,178,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
5,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. PARI,1.39,1968,113,112,108,...,37,36,32,26,21,14,17,11,8,7
6,2013,PROVINSI DKI JAKARTA,JAKARTA PUSAT,GAMBIR,GAMBIR,2.58,1350,166,174,130,...,108,90,88,42,68,34,37,32,34,23
7,2013,PROVINSI DKI JAKARTA,JAKARTA PUSAT,GAMBIR,CIDENG,1.26,14584,850,748,749,...,614,537,555,343,413,215,259,142,214,165
8,2013,PROVINSI DKI JAKARTA,JAKARTA PUSAT,GAMBIR,PETOJO UTARA,1.12,18987,954,920,914,...,680,510,544,421,398,235,241,132,215,159
9,2013,PROVINSI DKI JAKARTA,JAKARTA PUSAT,GAMBIR,PETOJO SELATAN,1.14,14465,752,675,691,...,539,466,428,279,328,160,215,116,150,121
10,2013,PROVINSI DKI JAKARTA,JAKARTA PUSAT,GAMBIR,KEBON KELAPA,0.78,15890,592,491,447,...,432,329,353,263,246,140,152,100,136,72

In [30]:
data.iloc[:, 3:5]

      NAMA KECAMATAN  NAMA KELURAHAN
0    KEP. SERIBU UTR     P. PANGGANG
1    KEP. SERIBU UTR       P. KELAPA
2    KEP. SERIBU UTR      P. HARAPAN
3    KEP. SERIBU SLT  P. UNTUNG JAWA
4    KEP. SERIBU SLT       P. TIDUNG
..               ...             ...
262         CIPAYUNG          MUNJUL
263         CIPAYUNG            SETU
264         CIPAYUNG      BAMBU APUS
265         CIPAYUNG    LUBANG BUAYA
266         CIPAYUNG           CEGER

[267 rows x 2 columns]

In [29]:
data.iloc[:, -1]

0       27
1        8
2       26
3       13
4       17
      ...
262     51
263     64
264     84
265    165
266     44
Name: >75  Perempuan, Length: 267, dtype: int64

In [31]:
data.iloc[-5:]

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [32]:
data.tail()

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [33]:
data.iloc[[2, 4, 6]]

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
6,2013,PROVINSI DKI JAKARTA,JAKARTA PUSAT,GAMBIR,GAMBIR,2.58,1350,166,174,130,...,108,90,88,42,68,34,37,32,34,23

# .loc

In [36]:
data_baru = pd.read_excel('data_excel.xlsx', index_col='NAMA KECAMATAN')
data_baru

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,40-44 Perempuan,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
NAMA KECAMATAN,,,,,,,,,,,,,,,,,,,,,
KEP. SERIBU UTR,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,P. PANGGANG,0.91,6779,231,235,233,210,...,98,106,72,65,36,33,33,20,13,27
KEP. SERIBU UTR,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,P. KELAPA,3.76,1705,84,88,99,88,...,30,39,29,24,12,21,13,5,5,8
KEP. SERIBU UTR,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,P. HARAPAN,3.59,628,255,238,232,234,...,139,101,73,56,18,35,24,25,18,26
KEP. SERIBU SLT,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,P. UNTUNG JAWA,0.59,3625,199,185,178,176,...,97,83,58,56,40,54,26,27,16,13
KEP. SERIBU SLT,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,P. TIDUNG,1.57,3084,98,75,73,94,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,MUNJUL,1.90,12734,1167,1112,1026,977,...,482,482,302,291,173,137,118,94,52,51
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,SETU,3.25,6028,937,928,857,824,...,392,354,254,211,124,115,64,83,59,64
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,BAMBU APUS,3.17,8400,1242,1187,1062,1063,...,596,476,377,250,169,179,108,96,70,84
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,LUBANG BUAYA,3.72,18055,3258,2988,2732,2660,...,1376,1308,959,739,393,385,293,291,160,165
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CEGER,3.63,5492,1007,930,874,804,...,416,390,279,214,110,153,101,53,45,44

In [40]:
data_baru.loc['CIPAYUNG']

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,40-44 Perempuan,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
NAMA KECAMATAN,,,,,,,,,,,,,,,,,,,,,
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,3.08,8441,1241,1172,1029,1037,...,539,469,374,278,164,177,112,101,61,110
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CILANGKAP,6.03,4396,1237,1276,1195,1114,...,452,397,267,235,161,133,77,90,52,62
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,PONDOK RANGGON,3.66,6772,1088,1064,969,945,...,453,391,271,227,131,109,80,105,42,82
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,MUNJUL,1.90,12734,1167,1112,1026,977,...,482,482,302,291,173,137,118,94,52,51
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,SETU,3.25,6028,937,928,857,824,...,392,354,254,211,124,115,64,83,59,64
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,BAMBU APUS,3.17,8400,1242,1187,1062,1063,...,596,476,377,250,169,179,108,96,70,84
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,LUBANG BUAYA,3.72,18055,3258,2988,2732,2660,...,1376,1308,959,739,393,385,293,291,160,165
CIPAYUNG,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CEGER,3.63,5492,1007,930,874,804,...,416,390,279,214,110,153,101,53,45,44

In [41]:
data_baru.loc[['CIPAYUNG', 'GAMBIR'], ['NAMA KELURAHAN', 'LUAS WILAYAH (KM2)']]

                NAMA KELURAHAN  LUAS WILAYAH (KM2)
NAMA KECAMATAN
CIPAYUNG              CIPAYUNG                3.08
CIPAYUNG             CILANGKAP                6.03
CIPAYUNG        PONDOK RANGGON                3.66
CIPAYUNG                MUNJUL                1.90
CIPAYUNG                  SETU                3.25
CIPAYUNG            BAMBU APUS                3.17
CIPAYUNG          LUBANG BUAYA                3.72
CIPAYUNG                 CEGER                3.63
GAMBIR                  GAMBIR                2.58
GAMBIR                  CIDENG                1.26
GAMBIR            PETOJO UTARA                1.12
GAMBIR          PETOJO SELATAN                1.14
GAMBIR            KEBON KELAPA                0.78
GAMBIR               DURI PULO                0.72